[Desktop Entry]
Name=Marka
Comment=Modern workspace Markdown editor.
GenericName=Markdown Editor
Exec=marka %f
Icon=marka
Terminal=false
Type=Application
Categories=Office;TextEditor;Utility;
Keywords=Markdown;Editor;Marka;
MimeType=text/markdown;text/plain;
StartupNotify=true
